@import '../../bower_components/bootstrap/less/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Baloo+Tammudu');
@import '../../bower_components/toastr/toastr';

body{
  background: #CCCCCC;
  font-family: 'Open Sans', sans-serif;
  background-image: url("../img/background.jpg");
}


.title{
  text-align: center;
  margin: 30px 0;
  font-family: 'Baloo Tammudu', cursive;
  color: #ffffff;
}

.wizard{
    width: 100%;
    background-color: #fff;
    background-color: rgba(255,255,255,.9);
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
    padding: 20px 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#select-product{

  margin: 30px 0;

  input[type="radio"]:checked+label{
    border: solid 1px #0d92ae;
  }

  label{
    border: solid 1px transparent;
    padding: 20px;
    cursor: pointer;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;

    img{
      width: 100%;
      height:auto;
    }

    &:hover{
      border-color: #80c3d1;
    }
  }

  .tab-footer{
    padding: 10px 30px;
  }
}

#confirmation{
  text-align: center;
}

#payment{
  .panel.panel--styled {
    background: #F4F2F3;

    .panelTop {
      padding: 30px;
    }

    .panelBottom {
      border-top: 1px solid #e7e7e7;
      padding-top: 20px;

      span.itemPrice {
        font-size: 24px;
        color: #FA5B58;
      }
    }

  }
}